@charset "UTF-8";

/*** utils ***/
.w100p {
  width: 100%;
  height: auto;
}
.m0 {
  margin: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
/*** header ***/
.header {
  margin-bottom: 15px;
}
.contain {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
/*** main ***/
/*upload btn*/
.input-field {
  margin-top: 0px;
}
@media all and (max-width: 600px) {
  .upload-box {
    margin-bottom: 10px;
  }
}

/*msg*/
.msg.card-panel {
    font-weight: bold;
    padding: 10px 0;
    margin: 0;
}
.msg.card-panel h4 {
  font-size: 21px;
  margin: 0;
}
/*img card*/
.card-box {
  text-align: center;
}
.card-title {
  font-size: 14px !important;
  font-weight: bold;
  padding: 5px 10px !important;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  color: #eee;
  background: rgba(0, 0, 0, .3);
}
